extends layout

block content
    h1 Test API
    div
        button#test.btn.btn-primary(type="button") Test
        div#content.content
        p Click the "Test" button to send an Ajax request to /api/test. If you are authenticated, the data will be displayed below:

    div#user
        form#login(role='form' method='post')
            legend
                h1 Login
                .form-group
                    label.form-control(for="username") Username:
                    input.form-control(type='text' id="password" name="username" placeholder='Enter Username')
                .form-group
                    label.form-control(for="password") Password:
                    input.form-control(type='password' id="password" name="password" placeholder='Password')

                button.btn.btn-default(type='submit') Submit

                a(href='/register')
                  button.btn.btn-primary(type="button") Register

                p#error.error