extends layout

block content
    h1 Test API
    div
        div#content.content
        .jumbotron
            .container
                p Click the "Test" button to send an Ajax request to /api/test. If you are authenticated, the data will be displayed
                .btn-group
                    button#test.btn.btn-primary(type="button") Test
                    button#logout.btn.btn-primary(type="button") Logout

    .well
        p#user
        form.form-horizontal#login(role='form' method='post')
            legend
                h1 Login
                .form-group
                    label.control-label.col-sm-2(for="username") Username:
                    .col-sm-10
                        input.form-control(type='text' id="username" name="username" placeholder='Enter Username')
                .form-group
                    label.control-label.col-sm-2(for="password") Password:
                    .col-sm-10
                        input.form-control(type='password' id="password" name="password" placeholder='Password')
                .form-group
                    button.btn.btn-primary(type='submit') Submit

                    a(href='/register')
                      button.btn.btn-default(type="button") Register

                p#error.error
    .well
        form#networking.text-center(role='form' method='post' action="/api/test")
            legend
                .form-group
                    label(for="title") Title:
                    input(type="text" id="title" name="title")
                .form-group
                    label(for="description") Description:
                    input(type="description" id="description" name="description")
                .form-group
                    label(for="location") Location:
                    input(type="location" id="location" name="location")
                .form-group
                    label(for="date") Date:
                    input(type="date" id="date" name="date")
                .form-group
                    label(for="time") Time:
                    input(type="datetime" id="time" name="time")
                    input.btn.btn-primary(type="submit" value="Submit")
        #events


