doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    block content
script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js')
script(type='text/javascript' src='/javascripts/app.js')


