body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.content{
    margin-left: 20px;
    color: blue;
    display: inline;
}
.error{
    color: red;
}